@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* --primary-color: #313a46; */
  --bg212529: #212529;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2d333c;
    --foreground: #9ca3af;
    --primary-color: #313a46;
    --grayEDEDED: #ededed;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-grayEDEDED: var(--grayEDEDED);
  --color-primary: var(--primary-color);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 2px;
  }
}
nav:hover {
  &::-webkit-scrollbar {
    width: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(256, 256, 256, 0.2);
  }
}
