@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg212529: #212529;
  /* --primary-color: #313a46; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2d333c;
    --foreground: #9ca3af;
    --primary-color: #313a46;
    --grayEDEDED: #ededed;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-grayEDEDED: var(--grayEDEDED);
  --color-primary: var(--primary-color);
  --font-sans: var(--font-geist-sans);
  /* --font-mono: var(--font-geist-mono); */
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: "Figtree", sans-serif;
  overflow-x: hidden;
  /* font-family: var(--font-mono); */
}

aside {
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 2px;
  }
}
aside:hover {
  &::-webkit-scrollbar {
    width: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(256, 256, 256, 0.2);
  }
}
